<div class="d-flex justify-content-center">

    <!-- Form -->
    <form class="login px-0 w-auto animate__animated animate__backInLeft">

        <div class="text-center welcome">
            <h4 class="py-4 m-0 px-5 bg-danger">Recupera tu contraseña</h4>
        </div>
        <!--Content nav-->
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="d-flex flex-column align-items-center dark">
                    <input class="mb-2 w-auto rounded-3 py-1 px-2 my-3 dark" type="email"
                        placeholder="&#xF007; Email o usuario"></input>
                    <div class="d-flex w-100 justify-content-center">
                        <a href="/" class="text-white btn py-2 px-4 mx-1 my-3 btn-secondary"><span>&#xF053;
                                Volver</span></a>
                        <a href="/" class="text-white btn py-2 px-4 mx-1 my-3 btn-dark"><span>Recuperar
                                &#xF054;</span></a>
                    </div>
                </div>
            </div>
    </form>
</div>