<div class="row d-flex justify-content-center">
    <!-- Form -->
    <form class="home px-0 h-100 w-75 text-center animate__animated animate__fadeIn">
        <a href="/" class="btn d-flex text-white close-session w-25">
            Cerrar sesión
        </a>

        <h1 class="balance py-5 ">$ 100.00</h1>

        <!-- Waves -->
        <div class="waves">
            <div class="waveOne" style="height: 150px; overflow: hidden;">
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M0.00,49.98 C150.00,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #323435;">
                    </path>
                </svg>
            </div>
        </div>

        <!-- Movements -->
        <div class="movements">
            <div class="separator px-3">
                <p class="movements-subtitle m-0">Últimos movimientos</p>
            </div>

            <div class="mov d-flex p-3">
                <div class="circle bg-danger d-flex justify-content-center">
                    <p class="d-flex align-items-center m-0">B</p>
                </div>
                <div class="px-3 d-flex justify-content-between w-100">
                    <div class="">
                        <p class="title-mov m-0 text-start">Mercado</p>
                        <p class="title-date m-0 text-start">17/03/2022</p>
                    </div>
                    <p class="amount-mov">$100.00</p>
                </div>
            </div>

            <div class="mov d-flex p-3">
                <div class="circle bg-danger d-flex justify-content-center">
                    <p class="d-flex align-items-center m-0">B</p>
                </div>
                <div class="px-3 d-flex justify-content-between w-100">
                    <div class="">
                        <p class="title-mov m-0 text-start">Mercado</p>
                        <p class="title-date m-0 text-start">17/03/2022</p>
                    </div>
                    <p class="amount-mov">$100.00</p>
                </div>
            </div>

            
            <div class="mov d-flex p-3">
                <div class="circle bg-danger d-flex justify-content-center">
                    <p class="d-flex align-items-center m-0">B</p>
                </div>
                <div class="px-3 d-flex justify-content-between w-100">
                    <div class="">
                        <p class="title-mov m-0 text-start">Mercado</p>
                        <p class="title-date m-0 text-start">17/03/2022</p>
                    </div>
                    <p class="amount-mov">$100.00</p>
                </div>
            </div>

            <div class="mov d-flex p-3">
                <div class="circle bg-danger d-flex justify-content-center">
                    <p class="d-flex align-items-center m-0">B</p>
                </div>
                <div class="px-3 d-flex justify-content-between w-100">
                    <div class="">
                        <p class="title-mov m-0 text-start">Mercado</p>
                        <p class="title-date m-0 text-start">17/03/2022</p>
                    </div>
                    <p class="amount-mov">$100.00</p>
                </div>
            </div>
            
            <div class="mov d-flex p-3">
                <div class="circle bg-danger d-flex justify-content-center">
                    <p class="d-flex align-items-center m-0">B</p>
                </div>
                <div class="px-3 d-flex justify-content-between w-100">
                    <div class="">
                        <p class="title-mov m-0 text-start">Mercado</p>
                        <p class="title-date m-0 text-start">17/03/2022</p>
                    </div>
                    <p class="amount-mov">$100.00</p>
                </div>
            </div>

            <div class="mov d-flex p-3">
                <div class="circle bg-danger d-flex justify-content-center">
                    <p class="d-flex align-items-center m-0">B</p>
                </div>
                <div class="px-3 d-flex justify-content-between w-100">
                    <div class="">
                        <p class="title-mov m-0 text-start">Mercado</p>
                        <p class="title-date m-0 text-start">17/03/2022</p>
                    </div>
                    <p class="amount-mov">$100.00</p>
                </div>
            </div>
            
            <div class="mov d-flex p-3">
                <div class="circle bg-danger d-flex justify-content-center">
                    <p class="d-flex align-items-center m-0">B</p>
                </div>
                <div class="px-3 d-flex justify-content-between w-100">
                    <div class="">
                        <p class="title-mov m-0 text-start">Mercado</p>
                        <p class="title-date m-0 text-start">17/03/2022</p>
                    </div>
                    <p class="amount-mov">$100.00</p>
                </div>
            </div>

            <div class="mov d-flex p-3">
                <div class="circle bg-danger d-flex justify-content-center">
                    <p class="d-flex align-items-center m-0">B</p>
                </div>
                <div class="px-3 d-flex justify-content-between w-100">
                    <div class="">
                        <p class="title-mov m-0 text-start">Mercado</p>
                        <p class="title-date m-0 text-start">17/03/2022</p>
                    </div>
                    <p class="amount-mov">$100.00</p>
                </div>
            </div>
            
            <div class="mov d-flex p-3">
                <div class="circle bg-danger d-flex justify-content-center">
                    <p class="d-flex align-items-center m-0">B</p>
                </div>
                <div class="px-3 d-flex justify-content-between w-100">
                    <div class="">
                        <p class="title-mov m-0 text-start">Mercado</p>
                        <p class="title-date m-0 text-start">17/03/2022</p>
                    </div>
                    <p class="amount-mov">$100.00</p>
                </div>
            </div>

            <div class="mov d-flex p-3">
                <div class="circle bg-danger d-flex justify-content-center">
                    <p class="d-flex align-items-center m-0">B</p>
                </div>
                <div class="px-3 d-flex justify-content-between w-100">
                    <div class="">
                        <p class="title-mov m-0 text-start">Mercado</p>
                        <p class="title-date m-0 text-start">17/03/2022</p>
                    </div>
                    <p class="amount-mov">$100.00</p>
                </div>
            </div>

        </div>
    </form>
</div>
</div>