* {
    font-family: 'Prompt', sans-serif;
}

body{
    background: rgb(196,229,255);
    background: -moz-linear-gradient(0deg, rgba(196,229,255,1) 0%, rgba(120,194,255,1) 79%);
    background: -webkit-linear-gradient(0deg, rgba(196,229,255,1) 0%, rgba(120,194,255,1) 79%);
    background: linear-gradient(0deg, rgba(196,229,255,1) 0%, rgba(120,194,255,1) 79%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c4e5ff",endColorstr="#78c2ff",GradientType=1); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* floating button */

.floating-button{
    position: fixed;
    z-index: 10;
    right: 2vh;
    bottom: 2vh;
    padding: 0 !important;
    width: 5vh;
    height: 5vh;
    border-radius: 50%; 
    background-color: white !important;
    color: gray !important;
    transition: 0.3s;
}

.floating-button:hover{
    background-color: gray !important;
    color: white !important;
    border: gray 2px solid;
}

/* banner */
.banner {
    background-color: white;
    height: 7vh;
    width: 100%;
    border-bottom: .7vh solid #3b454d;
}

.img-banner{
    align-items: end;
}

/* */
.img {
    height: 4vh;
    width: auto;
}

.title{
    color: #3b454d;
}

input{
    border-style: solid;
}
input::placeholder{
    color: gray;
}

input, span{
    text-align: justify;
    font-family: Arial, FontAwesome !important;
}

.nofont{
    font-family: 'Prompt', sans-serif !important;
}

.welcome, .bg-danger{
    background-color: #3B454D;
    color: #ffffff;
    border-radius: 1vh 1vh 0 0;
}

.login, .home {
    background-color: #ffffff;
    margin: 0;
    position: absolute;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 60vh !important;
    border-radius: 1vh;
    border-bottom: 0.2em solid #e3e3e3 !important;
}
.home {
    top: 50%;
}

.nav-tabs{
    margin: 0 15vh;
    cursor: default;
}

.nav-tabs a:first-child
{
    margin-left: 2vh;
}

.nav-link{
    color: gray !important;
}

.nav-link:hover{
    color: #78C2FF !important;
    transition: 0.5s ease !important;
}

.tab-content{
    border-radius: 0 0 15px 15 px;
}

.active, a {
    color: #78C2FF !important;
    text-decoration: none !important;
}

.btn {
    color: white !important;
    
}

.btn:hover{
    background-color: #0A53C2 !important;
}

.form-check-input:hover, .nav-tabs:hover{
    cursor: pointer;
}

@media (max-width: 633px) { 
    ul.nav-tabs{
        margin: 0 12vh;
    }
}

/* wallet home */
.waves {
    margin-top: -20%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.mov{
    border-bottom: 1px solid #4d5052;
}

.movements-subtitle, .title-date{
    color: #7e8385;
}

.movements{
    background-color: #323435;
    color: white;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #4d5052;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }

.circle {
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    padding: 1em;
}

.home {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(50,52,53,1) 34%, rgba(50,52,53,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(50,52,53,1) 34%, rgba(50,52,53,1) 100%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 33%, rgba(50,52,53,1) 34%, rgba(50,52,53,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#323435",GradientType=1); 
    border: none !important;    
    max-height: 92%;
    overflow-y: scroll;
}

.close-session{
    border-radius: 10px 0 0 0px;
    color: black !important;
}


.close-session:hover{
    background-color: black !important;
    color: white !important;
    transition: ease-in-out 0.3s;
}
/* */